.page-header {
    .title {
      background-color: #D5EEF1;
      height: 70px;
      text-align: center;
      padding: 15px;
    }
    .page-images {
      img {
        float: left;
        width: 25%;
        height: 120px;
      }
    }
}