<% provide(:title, 'О нас' ) %>
 
<div class="page-header">
  <div class="title">
	<h1>О нас</h1>
  </div>
<%= render 'pages/partials/pageSlider' %>
</div>

<div class="content">
  <div class="page-content">
   	Главный врач МБУЗ "ЦГБ" г.Батайска РО - Пивненко Наталья Михайловна, кандидат медицинских наук, врач высшей категории, опытный организатор.

Основными задачами МУЗ «ЦГБ» г. Батайска являются качественное оказание медицинских услуг населению, предупреждение и борьба с социально значимыми проблемами, укрепление демографической политики, развитие службы детства и родовспоможения, увеличение кадрового потенциала, улучшение качества жизни работников здравоохранения.

С 2010 года МУЗ «ЦГБ» г. Батайска работает в рамках таких программ как:

    Муниципальная долгосрочная целевая программа «Развитие здравоохранения г. Батайска» на 2010 – 2013 гг.
    Областная долгосрочная целевая программа «Развитие здравоохранения г. Батайска» на 2010 – 2013 гг.
    Ведомственная целевая программа «Безопасный Батайск»

Активно работают в настоящее время школа беременных, школа сахарного диабета, школа здорового образа жизни, школа молодой матери, школа грудного вскармливания, школа врачебного опыта в рамках сан.просвет. работы «Центра здоровья для взрослых».

Маленькие Батайчане с удовольствием посещают «Центр здоровья для детей», расположенный на базе детского поликлинического отделения № 1 МУЗ «ЦГБ» г. Батайска.

Проводятся тематические мероприятия для молодежи за здоровый образ жизни.

По итогам работы за 2010 год МУЗ «ЦГБ» г. Батайска Ростовской области было признано лучшим учреждением здравоохранения области с вручением диплома I степени.

С 2011 года больница включена в работу еще нескольких программ:

    Областная долгосрочная целевая программа «Развитие использования информационные и телекоммуникационных технологий в Ростовской области на 2010-2013 гг.»
    программа «Модернизация здравоохранения на 2011-2012 гг.»

  </div>

 <div class="peoples">
   <h3>Заведующие отделениями</h3>
   <!--worker-->
   <div class="worker-card">
     <h5>Гаербеков Аслан Шалавдиевич</h5>
     <p>Заведующий Хирургическим отделением №1 </p>
   </div>
    <!--/worker-->


</div>
</div><!--/content-->

<div class="sidebar">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>